<h1>Update on Your Interest Request</h1>
<p>Hi {{tenantName}},</p>
<p>Unfortunately, the owner of <strong>{{roomTitle}}</strong> has declined your interest request at this time.</p>

<p>Don't worry! There are many other great rooms available on our platform that match your preferences.</p>

<a href="{{platformUrl}}/rooms" class="btn">Keep Searching</a>
